
$size: 300px;
$base-angle: 45deg;
$border: 1px solid;
$lotus-color1: rgba(223, 29, 29, 0.5);
$lotus-color2: rgba(216, 177, 3, 0.5);
$lotus-color3: rgba(33, 224, 33, 0.5);
$lotus-color4: rgba(18, 228, 228, 0.5);
$lotus-color5: rgba(25, 0, 255, 0.5);
$colors: $lotus-color1, $lotus-color2, $lotus-color3, $lotus-color4, $lotus-color5;

.lotus {
    width: $size;
    height: $size;
    border: $border;
    position: relative;
    
    & > div {
        position: absolute;
        width: $size * 0.666;
        height: $size * 0.666;
        border: $border;
        border-radius: 0 70% 50% 70%;
        left: 0;
        top: 70px;
        transform: rotate($base-angle);
        transform-origin: $size * .5 $size * .5;
        animation-duration: 6000ms;
        animation-fill-mode: forwards;
    } 
}



@for $n from 1 through 5 {
    .lotus > div:nth-child(#{$n}) {
        background-color: nth($colors, $n);
        animation-name: bloom-#{$n};
    }
    @keyframes bloom-#{$n} {
        0% {
            transform: rotate($base-angle);
        }
    
        100% {
            transform: rotate(($n - 2) * $base-angle);
        }
    }
}